<div class="d-flex flex-nowrap">
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">SportApp</a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a routerLink="/dashboard/dashboard" routerLinkActive="active" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                </svg> Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/dashboard/training" routerLinkActive="active"  href="" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                </svg> Entrenamientos
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/dashboard/services" routerLinkActive="active"  href="" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                </svg> Servicios
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/dashboard/events" routerLinkActive="active"  href="" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                </svg> Eventos
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a href="" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                </svg> Configuración
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                </svg> Planes
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                </svg> Perfil
            </a>
        </li>
    </ul>
    <div class="dropdown">
        <a href="" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"></a>
    </div>

</div>
<router-outlet></router-outlet>
</div>